@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add a black background color to the top navigation */
/* .topnav {
  background-color: #333;
  overflow: hidden;
} */

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: grey;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-left {
  float: left;
}

.topnav-left ul li {
  float: left;
}

.topnav-right ul li {
  float: right;
}

.title {
  padding-top: 50pt;
}

div.gallery {
  margin: 5px;
  float: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  margin: 10px;
  height: auto;
  border-radius: 25px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

ol {
  list-style-position: outside;
  margin-top: 15px;
  margin-left: 40px;
  font-size: large;
}

p {
  margin-top: 10px;
  font-size: x-large;
}

a {
  color: blue;
}